*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container, h3{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 40%;
    min-width: 200px;
}
.col-2 img{
    max-width: 60%;
    padding: 50px 0;
}
.col-2 h1{
font-size: 30px;
line-height: 50px;
margin: 25px 0;
}

.form-container{
	width: 500px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15 rgba(0,0,0,.07);
	padding: 2em;
	background-color: #fff;
}

/*.form-group{
	margin-bottom: 1.5em;
	transitional: all .3s;
}

.form-label{
	font-size: .90em;
	color: var(--font-color);
	display: block;
	opacity: 1;
	opacity: 0;
	transition: all .3s;
	transform: translateX(-50px);
}
.form-control{
	box-shadow: none;
	border-radius: 0;
	border-color: #ccc;
	border-style: none none solid none;
	width: 100%;
	font-size: 1.25em;
	transitional: all .6s;
}
.form-control::placeholder{
	color: #f0f0f0;
}
.form-control:focus{
	box-shadow: none;
	border-color: var(--font-hover-color);
	outline: none;
}

.form-group:focus-within{
	transform: scale(1.1,1.1);
}

.form-control:valid:focus{
	border-color: #03fcfc;
	
}*/

.btn{
    display: inline-block;
    background-color: rgb(56, 243, 181);
    color: black;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #cfe7ee ;
}

/*Main content*/
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right:25px;
}

.col-4{
	flex-basis: 25%;
	padding: 20px;
	max-width: 300px;
	margin-bottom: 20px;
}
.col-4 img{
	width:100%;
}	
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
}
.title::after{
	content: '';
	background: #ff523b;
	width: 120px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}


/*------footer-------*/
.footer{
    background: #555;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top:20px;
}
.footer{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
min-width: 150px;
margin-bottom: 20px;
flex: 12%;
text-align: center;
} 

ul{
    list-style-type: none;
}
.footer hr{
border: none;
background: #b5b5b5;
height: 1px;
margin: 20px 0;
}
.copyright{
    text-align: center;
	color: #cfcdcc;
}

/*shopping cart*/
.products{
	border: 1px solid #333;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 16px;
	margin-bottom:20px;
}
.table{
	margin: 0px auto;
	float: none;
}
.row{
	margin: 0px auto;
	float: none;
}
.centered{
	float: none;
	margin: 0px auto;
}
.button{
	background: #6394F8;
	color:white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 25px 0 15px 0;
}
.button:visited{
	text-decoration: none;
	color: white;
}
.button:hover{
	background: #7fa9ff;
	text-decoration: none;
	color: white;
}
.button:active{
	text-decoration: none;
	color: white;
}
.btn-danger{
	font-size: 12px;
	padding: 3px;
}
.btn-danger:hover{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h3{
margin-top: 0px;	
}
.img{
	width: 40%;
  max-height: 50px;
}

/*About Us Page*/
.placement img{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
}
